@media screen and (max-width: 1000px){

	.twitter-block{
		width: 100%;
	}

	.nav-wrapper{
		width: 100%;
	}

}

@media screen and (max-width: 570px){

	.frontpage-h1-detail{
		display:none;
	}

	.frontpage *{
		text-align: center;
	}

	.frontpage hgroup h2{
		color: #bbb;
	}

	.footer-message{
		text-align: center;
	}

	.footer-master .footer-links{
		text-align: center;
		width: 100%;
	}

}